<h3>Currently Playing</h3>
<div id="current_song" data-url="<%= current_songs_path %>">
	<%= render :partial => "song" %>
</div>


<h3>History</h3>
<div id="history">
	<%= render :partial => "history" %>
</div>