<div class="jumbotron">
  <div class="container">
    <h1>Willkommen zu Reradio!</h1>
    <p>ReReadio macht <%= link_to "SwissGroove", "http://www.swissgroove.com" %> noch besser: Wenn du einen Song hörst und er dir gefällt, kannst du ihn als Favorite markieren und aufnehmen. Die Aufnahmen deiner Lieblingssongs kannst du so nochmal hören. ReRadio eben.</p>
    <p>
    	<a class="btn btn-primary btn-lg" href="<%= new_user_session_path %>" role="button">Login</a>
    	<a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Registrieren</a>
    </p>
  </div>
</div>